@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Gellix';
		font-style: normal;
		font-weight: 400;
		font-display: 'swap';
		src: url(./assets/fonts/gellix-regular.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Gellix';
		font-style: normal;
		font-weight: 700;
		font-display: 'swap';
		src: url(./assets/fonts/gellix-bold.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Gallery Alternate';
		font-style: normal;
		font-weight: 400;
		font-display: 'swap';
		src: url(./assets/fonts/gallery-alternate.woff2) format('woff2');
	}
	@media (max-width: 400px) {
		html {
			font-size: 4vw;
		}
	}
	@media (min-width: 1281px) {
		html {
			font-size: 1.25vw;
		}
	}
	@media (min-width: 1920px) {
		html {
			font-size: 24px;
		}
	}
	html {
		@apply touch-manipulation bg-black text-white antialiased;
	}
}

@layer components {
	.revealed [class*='reveal:'] {
		transition-duration: 1s;
		transition-property: opacity, transform;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		will-change: opacity, transform;
	}
}

@layer utilities {
	.mask-gradient-y {
		mask-image: linear-gradient(to bottom, transparent, 6rem, black, calc(100% - 6rem), transparent);
	}
	.bg-map {
		background-image: url(./assets/images/map.webp);
	}
	.container-inline-size {
		container-type: inline-size;
	}
}
